.contact_section{
    max-width: 1000px;
    margin: 0 auto;
}
.contact_section h1{
    font-size: 48px;
    font-weight: 800;
    color: rgb(117, 117, 247);
}

.contact_section p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
    max-width: 80%;
    
}